In [89]:
import pandas as pd
import os
print(os.path.abspath('../'))
# set the path where you have downloaded the data files
file_path = os.path.abspath('../2/')
print(file_path)
train = pd.read_csv(file_path+'/train_income_data_AAII.csv')
test = pd.read_csv(file_path+'/test_income_data_AAII.csv')
# For windows, if the above paths doesn't works
# import os
# f_path = os.path.join(*['C:', 'Users', 'user', 'Desktop', 'train_income_data_AAII.csv'])
# train = pd.read_csv(f_path)
# or maybe try following to reach to the path
# absolute_path = os.path.abspath(os.path.dirname('train_income_data_AAII.csv'))

/home/admin1/Dropbox/MyFolder/data_analyst_course
/home/admin1/Dropbox/MyFolder/data_analyst_course/2

In [83]:
train.apply(lambda x : x.isnull().sum())

ID                   0
Age                  0
Workclass         1836
Education            0
Marital.Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Hours.Per.Week       0
Native.Country     583
Income.Group         0
dtype: int64

In [87]:
train['Workclass'].isnull().sum()

1836

In [88]:
train['Workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [63]:
null_df = train.loc[train['Workclass'].isnull()==True]

In [65]:
null_df.head()

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
27,28,54,NaN,Some-college,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,60,South,>50K
61,62,32,NaN,7th-8th,Married-spouse-absent,NaN,Not-in-family,White,Male,40,NaN,<=50K
69,70,25,NaN,Some-college,Never-married,NaN,Own-child,White,Male,40,United-States,<=50K
77,78,67,NaN,10th,Married-civ-spouse,NaN,Husband,White,Male,2,United-States,<=50K
106,107,17,NaN,10th,Never-married,NaN,Own-child,White,Female,32,United-States,<=50K

In [18]:
d = train['Workclass'].mode()
print(d[0])

Private

## Missing Value Imputation

In [94]:
train['Workclass'].mode()[0]

'Private'

In [72]:
impute_list = ['Workclass','Occupation','Native.Country']
for imp_var in impute_list:
    print(imp_var)
    train[imp_var].fillna(train[imp_var].mode()[0],inplace=True)

Workclass
Occupation
Native.Country

In [73]:
train['Workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [80]:
train.apply(lambda x : x.isnull().sum())

ID                0
Age               0
Workclass         0
Education         0
Marital.Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Hours.Per.Week    0
Native.Country    0
Income.Group      0
dtype: int64